
body {
    font-family: Arial, sans-serif;
    background-color: white;
  }
  
  header {
    background-color: white;
    color: #403535;
    padding: 20px;
    text-align: center;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
  }
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  
  .hero {
    background-image: linear-gradient(to bottom, #333, #555);
    background-size: 100% 300px;
    background-position: 0% 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
  }
  
  #myButton {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  form {
	max-width: 600px;
	margin: 40px auto;
	padding: 20px;
	background-color: #f2f2f2;
	border: 1px solid #ccc;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#resume-container {
	margin-top: 20px;
	padding: 20px;
	background-color: #ffffff;
	border: 1px solid #dddddd;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#resume-container h2 {
	font-weight: bold;
	margin-bottom: 10px;
}

#resume-container p {
	margin-bottom: 20px;
}

#resume-container ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#resume-container ul li {
	margin-bottom: 10px;
}

/* Resume template styles */
#resume-template {
	max-width: 800px;
	margin: 40px auto;
	padding: 20px;
	background-color: #f9f9f9;
	border: 1px solid #b46f6f;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#name {
	font-size: 24px;
	font-weight: bold;
}

#email {
    font-size: 24px;
	
}
#phone{
    font-size: 24px;
	font-weight: bold;
   
}
#objective{
    font-size: 24px;
	font-weight: bold;
 
   
}
#education{
    font-size: 24px;
	font-weight: bold;
   
}
#work-experience{
    font-size: 24px;
	font-weight: bold;
}
#skills{
    font-size: 24px;
	font-weight: bold;
}

#download-button {
	background-color: #007bff;
	color: #ffffff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}


.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #030f17;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
#resume-content {
    display: none; /* Hide the resume content by default */
  }
  
  #resume-content.active {
    display: block; /* Show the resume content when it has the "active" class */
  }

  
  
 